Source: qlogsystem
Section: libs
Priority: optional
Build-Depends: debhelper (>= 7.0.50), qt5-default, doxygen, lcov
Maintainer: Domok Tamas <domoktamas@balabit.hu>
Standards-Version: 3.9.2

Package: libqlogsystem1
Section: lib
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: qlogsystem

Package: libqlogsystem-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libqlogsystem1 (= ${binary:Version})
Description: qlogsystem dev package

Package: libqlogsystem1-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libqlogsystem1 (= ${binary:Version}), ${misc:Depends}
Description: qlogsystem debugging symbols

Package: qlogsystem-scripts
Section: devel
Priority: extra
Architecture: any
Depends: python3
Description: qlogsystem scripts (log id generator)
